language: php

php:
  - 5.3
  - 5.4

env:
  - CAKE_VERSION=2.2.7
  - CAKE_VERSION=master
  - CAKE_VERSION=2.4

before_script:
  - git clone --depth 1 git://github.com/cakephp/cakephp ../cakephp && cd ../cakephp && git checkout $CAKE_VERSION
  - cp -R ../CakePdf plugins/CakePdf

script:
  - ./lib/Cake/Console/cake test CakePdf AllCakePdf


notifications:
  email: false