parameters:
	level: 8
	bootstrapFiles:
		- vendor/cakephp/cakephp/src/Core/Exception/CakeException.php
		- tests/bootstrap.php
	paths:
		- src
	ignoreErrors:
		-
			identifier: missingType.iterableValue
